<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrastion_page</title>
</head>
<body>

    <h1>Learn2earn Colab site</h1>
    <p>A pleace that bring out that <strong><em>Talent</em></strong> within you through collaboration</p>
    <p>Register to meet collaborators</p>

    <form method="post" action="/register">

        <label for="email">Enter Your Email:</label><br>

        <input type="email" id="email" name="email" placeholder="Enter email here..."><br><br>

        <label for="PassW" >Enter Your Password: </label><br>

        <input type="password" id="PassW" name="password" placeholder="Enter password..."><br><br>

        <label for="birthdate">Birthdate: </label><br>
        <input type="date" id="birthdate" name="birthdate" required><br>

       <button type="submit"><strong>Submit</strong></button>

    </form>

  <!--- <pre>{{.Email}}</pre>--> 
    
</body>
</html>
